.container1{
	height: auto;
	width: 700px;
	background-color: black;
	float: left;
	padding: 20px;
}

.column1{
	height: 150px;
	width: 150px;
	background-color: gray;
	margin-right: 10px;
	float: left;
	position: relative;
}

.p{
	height: 150px;
	width: 50%;
	position: relative;
}

.container2{
	height: auto;
	width: 700px;
	background-color: black;
	float: left;
	padding: 10px;
}

.column2{
	height: 150px;
	width: 150px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
}

.column3{
	height: 100px;
	width: 200px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
}

.container3{
	height: auto;
	width: 500px;
	background-color: black;
	float: left;
	padding: 10px;
}

.column4{
	height: 100px;
	width: 200px;
	background-color: gray;
	float: right;
	margin-right: 10px;
	position: relative;
}
.container4{
	height: auto;
	width: 500px;
	background-color: black;
	float: left;
	padding: 10px;
}

.column5{
	height: 150px;
	width: 150px;
	background-color: gray;
	float: right;
	margin-right: 10px;
	position: relative;
}
.container5{
	height: auto;
	width: 700px;
	background-color: black;
	float: left;
	padding: 10px;
}

.column6{
	height: 50px;
	width: 50px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
}
.container6{
	height: auto;
	width: 700px;
	background-color: black;
	float: left;
	padding: 10px;
}

.column7{
	height: 100px;
	width: 100px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
	border: box;
}
.container7{
	height: auto;
	width: 700px;
	background-color: black;
	float: left;
	padding: 10px;
}

.column7{
	height: 50px;
	width: 50px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
	border: box;
}

.column8{
	height: 50px;
	width: 50px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
	border: box;
}

.column9{
	height: 50px;
	width: 50px;
	background-color: gray;
	float: left;
	margin-right: 10px;
	position: relative;
	border: box;
}
.container7{
	height: auto;
	width: 700px;
	background-color: black;
	float: left;
	padding: 10px;
}



.clear:after{
	content: "";
	clear: both;
	display: block;

}

.page1{
	width: 900px;
	margin: 0 auto;
}