
/*banner section*/
.banner{
	/*background-image: url('../image/banner.jpeg');*/
	background-color: rgba(0, 0, 0, 0.8);
	width: 99.7%;
	height: 500px;
	display: block;

}

.name{
	position: relative;
	font-size: 300%;
	color: #F4D03F;
	font-family: Brush Script MT, Brush Script Std, cursive;
	left: 325px;
	top: 160px;
	
}

.intro{
	position: relative;
	font-size: 100%;
	font-family: arial;
	left: 325px;
	top: 140px;
	text-align: fixed;
	color: #F4D03F;
}

/*profile picture*/
.profile{
	position: relative;
	width: 200px;
	height: 300px;
	border-radius: 10%;
	top: -50px;
	left: 30px;
}


.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  width: 98.5%;
  font-family: impact;
  letter-spacing: 2px;
  
}

.navbar a {
  float: left;
  display: block;
  color: #F4D03F;
  text-align: center;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 17px;

}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}


/*****information*****/

/*education section*/
.education{
	font-size: 150%;
	font-family: impact;
	margin-left: 550px;
	margin-top: 130px;
	letter-spacing: 3px;
	float: left;

}

.educ{
	width:100px;
	padding-top:90px;

}


.college,
.secondary,
.bootcamp{
	font-size: 100%;
	font-family: impact;
	text-align: center;	
	margin-top: 40px;
}

.school,
.add,
.year,
.school2,
.add2,
.year2{
	font-size: 90%;
	font-family: arial;
	text-align: center;
	margin-top: 5px;

}
	
/*work section*/
.workE{
	font-size: 150%;
	font-family: impact;
	margin-left: 470px;
	margin-top: 130px;
	letter-spacing: 3px;
	float: left;	
}

.work2{
	width: 100px;
	padding-top:100px; 
}


/*skills section*/
.skills{
	font-size: 150%;
	font-family: impact;
	margin-left: 520px;
	margin-top: 400px;
	letter-spacing: 3px;
	float: left;

}


/****Skills section!!****/
.skill{
	width:150px;
	padding-top:365px;
	margin-left: 30px;

}

/*this is the container*/
.center{
	width: 60%;
	position:absolute;
	margin-left: 510px;
	margin-top: 220px;
	transform: translate(-50%, -50%);
	background: #333;
	box-sizing: border-box;
	box-shadow: 0 -2px 100px rgba(0,0,0, .5);
}

.skillbox{
	box-sizing: border-box;
	width: 95%;
	margin: 25px 0;
	margin-left: 20px;
}

.skillbox p{
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 5px;
	padding: 0;
	font-family: arial;
	letter-spacing: 1px;
	
}

.skillbox p:nth-child(2){
	float: right;
	position: relative;
	top: -25px;

}

.skill2{
	background: #262626;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #0fffb7;
	border-radius: 2px;
}

.skill_level{
	background: #0fffb7;
	width: 100%;
	height: 10px;
}




@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bea2e7+0,86b7e7+100 */
/*background: #bea2e7; /* Old browsers */*/
/*background: -moz-linear-gradient(top,  #bea2e7 0%, #86b7e7 100%); /* FF3.6-15 */*/
/*background: -webkit-linear-gradient(top,  #bea2e7 0%,#86b7e7 100%); /* Chrome10-25,Safari5.1-6 */*/
/*background: linear-gradient(to bottom,  #bea2e7 0%,#86b7e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea2e7', endColorstr='#86b7e7',GradientType=0 ); /* IE6-9 */

}


.container{
	margin-top: 200px;
}

.container ul {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
  color: black; 
  font-size: 15px;
}


.container ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed black;
  
}


.container ul li {
  position: relative;
  margin-left: 30px ;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

.container ul li:not(:first-child) {
  margin-top: 60px;
}

.container ul li > span {
  width: 2px;
  height: 100%;
  background: black;
  left: -30px;
  top: 0;
  position: absolute;
}

.container ul li > span:before, .container ul li > span:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}


/*project section*/
.project{
	font-size: 150%;
	font-family: impact;
	margin-left: 500px;
	margin-top: 600px;
	letter-spacing: 3px;
	float: left;	
}

.projectimg{
	width:150px;
	margin-left: 80px;
	margin-top: 550px;
	letter-spacing: 3px;
	float: left;	
}

h3 {
	margin-top: 700px;
	margin-left: 550px;
}

.tatak{
	margin-top: 20px;
	margin-left: 575px;
}

.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;  
}

.container div .company,  {
  font-weight: 600;
  font-size: 16px;
  font-style: bold;
}
.container div .position, .container div .address {
  font-size: 12px;
}
.container div > div {
  margin-top: 5px;
}


.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}



